body{
	color: rgb(53,193,71);
	background-color: rgb(000,51,000);
}
nav ul{
	display:flex;
	justify-content: space-between;
	padding:20px;
}
nav ul li a{
	color: rgb(53,193,71);
}
#Azul{
	color: rgb(127, 13, 202);
}
.Vermelho{
	color: rgb(250, 0, 21);
}
