/* Estilização para os elementos com a classe .product (os produtos) */
.product {
   background-color: rgba(236, 236, 236, 0.1); /* Define a cor de fundo com transparência */
   border-radius: 5%; /* Arredonda as bordas dos produtos */
   margin: 0 10px 20px 0; 
   padding: 20px; 
   text-align: center;
   width: calc(50% - 10px); /* Define a largura dos produtos para ocupar metade da largura do contêiner pai com um espaço entre eles */
   box-sizing: border-box; /* Garante que a largura definida inclua preenchimento e borda */
   float: left; /* Faz com que os produtos flutuem para a esquerda, permitindo que dois deles se alinhem horizontalmente */
}

/* Estilização para as imagens dentro dos elementos .product */
.product img {
   width: 50%; 
   max-width: 50%; 
   height: auto; /* Mantém a proporção original da imagem, ajustando automaticamente a altura */
}

/* Estilização para os títulos dos produtos */
.product h2 {
   margin-top: 10px; 
   font-size: 20px;
}

/* Estilização para os parágrafos dentro dos produtos */
.product p {
   margin: 5px 0; 
   font-size: 16px; 
}

/* Estilização para o contêiner #productList que envolve os produtos */
#productList {
   display: flex; 
   flex-wrap: wrap; /* Permite que os produtos quebrem para a próxima linha quando não houver espaço horizontal suficiente */
   justify-content: flex-start; /* Alinha os produtos à esquerda dentro do contêiner pai */
   margin: 0 -10px; 
   padding: 20px; 
}
