/* Estiliza um elemento com classe "halfCircle" */
.halfCircle {
  width: 650px; /* Define a largura */
  height: 650px; /* Define a altura */

  background-color: #9191a1; /* Cor de fundo */
  box-shadow: 0 0 10px #000040, /* Sombra interna */
    0 0 30px #0000a0, /* Sombra intermediária */
    0 0 70px orangered; /* Sombra externa */

  position: absolute; /* Posicionamento absoluto */
  bottom: -90px; /* Distância inferior */
  right: -100px; /* Distância à direita */

  border-radius: 1000px 1000px 1000px 1000px; /* Borda arredondada */
  z-index: -1; /* Camada de sobreposição z-index */
}

/* Estiliza um elemento com classe "content" */
.content {
  font-family: "Roboto", Arial, Helvetica, sans-serif; /* Define a fonte */

  display: flex; /* Usa flexbox para organizar o conteúdo */
  flex-wrap: wrap; /* Organiza os filhos em várias linhas */
  flex-direction: column; /* Organiza os filhos em coluna */
  align-self: center; /* Alinhamento vertical ao centro */

  position: relative; /* Posicionamento relativo */
  left: 10vw; /* Distância à esquerda */
  top: 10vh; /* Distância superior */
}

/* Estiliza um elemento com ID "logoContent" dentro de "content" */
.content #logoContent {
  position: relative; /* Posicionamento relativo */
  left: 25%; /* Distância à esquerda */

  border-radius: 20px; /* Borda arredondada */
}

/* Estiliza um elemento com classe "main" */
.main {
  position: relative; /* Posicionamento relativo */
  top: 14px; /* Distância superior */
}

/* Estiliza um elemento com classe "contentTitle" */
.contentTitle {
  text-align: center; /* Alinhamento de texto ao centro */

  margin-top: 0px; /* Margem superior */
  margin-right: 50%; /* Margem direita */
  padding-left: 60px; /* Preenchimento à esquerda */
  padding-top: 25px; /* Preenchimento superior */
}

/* Estiliza um elemento com classe "contentText" */
.contentText {
  text-align: center; /* Alinhamento de texto ao centro */

  margin-top: 0px; /* Margem superior */
  margin-right: 50%; /* Margem direita */
  padding-left: 40px; /* Preenchimento à esquerda */
  padding-top: 0px; /* Preenchimento superior */
}

/* Estiliza um elemento com classe "image" */
.image {
  width: 420px; /* Largura */
  height: 420px; /* Altura */

  position: relative; /* Posicionamento relativo */
  right: -55%; /* Distância à direita */
  top: -308px; /* Distância superior */
}

/* Estilos para telas com altura máxima de 650px */
@media screen and (max-height: 650px) {
  .content {
    position: relative; /* Posicionamento relativo */
    top: -20px; /* Distância superior reduzida */
  }

  .contentTitle {
    position: relative; /* Posicionamento relativo */
    top: -20px; /* Distância superior reduzida */
  }

  .contentText {
    position: relative; /* Posicionamento relativo */
    top: -20px; /* Distância superior reduzida */
  }

  .image {
    position: relative; /* Posicionamento relativo */
    top: -395px; /* Distância superior reduzida */
  }
}

/* Estilos para telas com largura máxima de 1160px */
@media screen and (max-width: 1160px) {
  .content {
    height: 75vh; /* Altura de 75% da viewport */
    width: 90vw; /* Largura de 90% da viewport */

    background-color: rgb(222, 222, 222); /* Cor de fundo */
    box-shadow: 0 0 10px #9191a1, /* Sombra */
      0 0 20px #9191a1, /* Sombra */
      0 0 40px #9191a1, /* Sombra */
      0 0 60px #fff; /* Sombra */

    position: relative; /* Posicionamento relativo */
    top: -10px; /* Distância superior reduzida */
    left: 5.5%; /* Distância à esquerda */

    border-radius: 15px; /* Borda arredondada */

    overflow-y: scroll; /* Adiciona rolagem vertical quando necessário */
    overflow-x: hidden; /* Esconde a rolagem horizontal */
  }

  .content #logoContent {
    position: relative; /* Posicionamento relativo */
    left: 37%; /* Distância à esquerda */
    border-radius: 20px; /* Borda arredondada */
  }

  .contentTitle {
    text-align: center; /* Alinhamento de texto ao centro */

    position: relative; /* Posicionamento relativo */
    top: -20px; /* Distância superior reduzida */
    margin-top: 0px; /* Margem superior */
    margin-right: 0%; /* Margem direita */
    padding-left: 0px; /* Preenchimento à esquerda */
    padding-top: 25px; /* Preenchimento superior */
  }

  .contentText {
    text-align: center; /* Alinhamento de texto ao centro */

    position: relative; /* Posicionamento relativo */
    top: -20px; /* Distância superior reduzida */
    margin-top: 0px; /* Margem superior */
    margin-right: 0%; /* Margem direita */
    padding-left: 0px; /* Preenchimento à esquerda */
    padding-top: 0px; /* Preenchimento superior */
  }

  .image {
    width: 420px; /* Largura */
    height: 420px; /* Altura */

    position: relative; /* Posicionamento relativo */
    right: -10%; /* Distância à direita reduzida */
    top: 0; /* Distância superior */
  }
}

/* Estilos para telas com largura máxima de 478px */
@media screen and (max-width: 478px) {
  .content #logoContent {
    left: 25%; /* Distância à esquerda */
  }

  .contentText {
    height: 150px; /* Altura fixa */
    width: 75%; /* Largura de 75% */

    position: relative; /* Posicionamento relativo */
    left: 15%; /* Distância à esquerda */
  }

  .image {
    width: 320px; /* Largura */
    height: 320px; /* Altura */

    top: 25px; /* Distância superior */
  }
}
