body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 95vw;
  right: -2vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.companyCard {
  background-color: rgb(116, 116, 136);
  width: 30vw;
  height: 70vh;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px cadetblue,
    0 0 30px cadetblue,
    0 0 50px cadetblue;
} 

@media screen and (max-width: 610px){
  section {
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .companyCard {
    width: 75vw;
    height: 20vh;
    margin-top: 25px;
    margin-left: 10.5vw;
  }
}

@media screen and (max-height: 580px) {
  section {
    height: 60vh;
  }
}