.image{
    position: relative;
    right: -800px;
    top: -308px;
    width: 420px;
    height: 420px;
}
.content {
    font-family: "Roboto";
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.half-circle {
    position: absolute;
    bottom: -90px;
    right: -100px;
    width: 650px;
    height: 650px;
    background-color: #FF7777;
    border-radius: 1000px 1000px 1000px 1000px;
    z-index: -1;
}
.menu, a{
    font-family: "Roboto";
	display:flex;
	justify-content: space-around;
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.content-text{
    margin-top: 0px;
    margin-right: 720px;
    text-align: center;
    padding-left: 40px;
    padding-top: 0px;
}
.content-title{
    margin-top: 0px;
    margin-right: 720px;
    text-align: center;
    padding-left: 60px;
    padding-top: 130px;
}
.body{
    position: fixed;
    margin: 0px;
    overflow-y: hidden;
    overflow-X: hidden;
    height: 100%;
}

* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 }
  
 body {
    height: 100%;
    overflow: hidden;
 }
   
 header {
    background-color: #888888;
    height: 75px;
    top: 0;
    width: 100%;
 }
  
 #menuItems {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 50px;
 }
 .menuItem {
    margin-left: 15px;
 }
  
 #logo a img {
    width: 75px;
 }
  
 .button {
    background-color: #128200;
    border-radius: 25%;
    height: 65%;
    width: 130px;
 }
  
 .button:hover {
    background-color: #1cb404;
 }
  
 .selected {
    background-color: #40AE2E;
 }
  
 .button p {
    text-align: center;
    padding-top: 15px;
 }
  
 footer {
    background-color: #888888;
    height: 10vh;
    margin-top: 28vh;
    position: relative;
    font-family: "Roboto";
    padding: 10px;
    font-size: 20px;
    bottom: 280px;
 }
 .main{
    position: relative;
    top: 130px;
 }
  


