section {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 95vw;
  right: -2vw;
  overflow-y: scroll;
  height: 75vh;
}

.companyCard {
  background-color: rgb(116, 116, 136);
  width: 30vw;
  height: 70vh;
  text-align: center;
  box-shadow: 0 0 10px cadetblue,
    0 0 30px cadetblue,
    0 0 50px cadetblue;
} 

@media screen and (max-width: 610px){
  section {
    flex-direction: column;
    justify-content: space-between;
  }

  .companyCard {
    height: 25vh;
  }
}