/* Define o estilo padrão para todos os elementos no documento */
* {
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte para todos os elementos */
  text-decoration: none; /* Remove a decoração de texto padrão */
}

/* Estilos para o corpo da página */
body {
  height: 100%; /* Define a altura do corpo como 100% da viewport */
  margin: 0px; /* Remove margens padrão */

  overflow-y: hidden; /* Esconde a rolagem vertical */
  overflow-X: hidden; /* Esconde a rolagem horizontal */
}

/* Estilos para o cabeçalho (header) */
header {
  background-color: #112; /* Cor de fundo do cabeçalho */

  border-top-right-radius: 15%; /* Borda superior direita arredondada */
  border-bottom-left-radius: 15%; /* Borda inferior esquerda arredondada */

  z-index: 2; /* Camada de sobreposição z-index */
}

/* Estilos para a lista de itens do menu */
#menuItems {
  display: flex; /* Usa flexbox para organizar os itens do menu */
  left: 1.4vw; /* Posiciona à esquerda */

  list-style: none; /* Remove marcadores de lista */
  position: relative; /* Define uma posição relativa */

  z-index: 2; /* Camada de sobreposição z-index */
}

/* Estilos para os itens do menu */
.menuItem {
  border-right: black solid .5px; /* Borda direita dos itens do menu */
}

/* Estilos para a imagem dentro do elemento com ID "logo" */
#logo a img {
  width: 75px; /* Largura da imagem */
  border-radius: 25%; /* Borda arredondada para a imagem */
}

/* Estilos para o botão */
.button {
  height: 65%; /* Altura do botão */
  width: 25vw; /* Largura do botão */

  color: black; /* Cor do texto */
  background-color: white; /* Cor de fundo do botão */
}

/* Estilos quando o cursor passa sobre o botão */
.button:hover {
  animation: btnHover 1s forwards; /* Animação ao passar o mouse */
}

#cart {
  position: relative;
  margin-top: 10px;
  margin-left: 10px
}

/* Animação do botão do menu */
@keyframes btnHover {
  0% {
    height: 65%;
    width: 25vw;

    background-color: white;
  }

  100% {
    height: 68%;
    width: 30vw;
    
    background-color: rgb(255, 87, 56); /* Cor de fundo alterada */
    box-shadow: 0 0 10px rgb(255, 87, 56),
      0 0 30px rgb(253, 78, 47),
      0 0 50px rgb(255, 74, 43),
      0 0 70px rgb(255, 56, 21); /* Sombra */
  }
}

/* Estilos para o elemento com classe "selected" */
.selected {
  background-color: #c4c4c4; /* Cor de fundo quando selecionado */
}

/* Estilos para o parágrafo no botão */
.button p {
  text-align: center; /* Alinhamento do texto ao centro */

  padding-top: 15px; /* Espaçamento superior */
}

/* Estilos para o rodapé (footer) */
footer {
  width: 100vw; /* Largura total da viewport */

  text-align: center; /* Alinhamento do texto ao centro */
  
  position: absolute; /* Posicionamento absoluto */
  bottom: 0; /* Alinhamento na parte inferior */
  vertical-align: middle; /* Alinhamento vertical no centro */
}

/* Estilos para o parágrafo no rodapé */
footer p {
  background-color: RGBA(100, 100, 100, 0.05); /* Cor de fundo com transparência */

  font-size: larger; /* Tamanho da fonte */
  text-align: center; /* Alinhamento do texto ao centro */
  text-decoration: solid; /* Decoração sólida */

  vertical-align: middle; /* Alinhamento vertical no centro */
}

/* Estilos para telas com largura máxima de 550px */
@media screen and (max-width: 550px) {
  .button {
    width: 20vw; /* Largura reduzida do botão */
  }

  .button:hover {
    animation: none; /* Animação removida ao passar o mouse */

    background-color: rgb(255, 87, 56); /* Cor de fundo alterada */
  }
}

/* Estilos para telas com largura entre 550px e 680px */
@media screen and (min-width: 550px) and (max-width: 680px) {

  /* Sobrescreve a animação "btnHover" para telas nesta faixa de largura */
  @keyframes btnHover {
    0% {
      height: 65%;
      width: 25vw;
      background-color: white;
    }

    100% {
      height: 68%;
      width: 25.8vw;
      background-color: rgb(255, 87, 56);
    }
  }
}

/* Estilos para telas com altura máxima de 765px */
@media screen and (max-height: 765px) {
  footer {
    position: relative; /* Muda para posicionamento relativo */
  }
}
