* {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

body{
   margin: 0px;
   overflow-y: hidden;
   overflow-X: hidden;
   height: 100%;
 }
  
header {
   background-color: #112;
   border-top-right-radius: 15%;
   border-bottom-left-radius: 15%;
}

#menuItems {
   display: flex;
   list-style: none;
   position: relative;
   left: 1.4vw;
}
.menuItem {
   border-right: black solid .5px;
}
 
#logo a img {
   width: 75px;
   border-radius: 25%;
}
 
.button {
   background-color: white;
   height: 65%;
   width: 25vw;
   color: black;
}
 
.button:hover {
   animation: btnHover 1s forwards;
}
 
.selected {
   background-color: #c4c4c4;
}
 
.button p {
   text-align: center;
   padding-top: 15px;
}

@keyframes btnHover {
   0% {
      background-color: white;
      height: 65%;
      width: 25vw;
   } 100% {
      background-color: #c4c4c4;
      height: 68%;
      width: 30vw;
   }
}

@media screen and (width <= 550px) {
   .button {
      width: 20vw;
   }
   .button:hover {
      animation: none;
      background-color: #c4c4c4;
   }
}

@media screen and (550px < width < 680px) {

   @keyframes btnHover {
      0% {
         background-color: white;
         height: 65%;
         width: 25vw;
      } 100% {
         background-color: #c4c4c4;
         height: 68%;
         width: 25.8vw;
      }
   }
}

@media screen and (height <= 765px){

   footer {
      position: relative;
   }
}
 
footer {
   bottom: 0;
   width: 100vw;
   position: absolute;
   text-align: center;
   vertical-align: middle;
}
 
footer p {
   font-size: larger;
   text-align: center;
   text-decoration: solid;
   vertical-align: middle;
   background-color: RGBA(100, 100, 100, 0.05);
}